.tower {
  background-color: rgba(255, 0, 0, 0.3);
  width: 80%;
  min-height: 240px;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 3px;
  margin-top: 20px;
}

.lot {
  -webkit-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  background-color: rgba(0, 255, 0, 0.6);
  width: 100%;
  min-height: 85px;
  padding-top: 35%;
  font-weight: bold;
  font-size: 20px;
}
